@charset "utf-8";
/*Body*/
table{
    border: 2px black;
    background: black;
    width: 15%;
    height: 12%;
    font-size: 18pt;
    text-align: center;
    position: relative;
    padding: 25px;
}
td{
    background-color: darkgoldenrod;
    
}
